@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.nav {
    @include flex-positioning(row, flex-start, center);
    padding: 1.4em 2em;
    width: 100%;

    .nav-links {
        display: flex;
    }

    .links-item {
        font-size: 1em;
        padding-right: 1.5em;
    }
    .links-item:last-of-type {
        padding-right: 0;
    }

    .logo {
        width: 3em;
        height: 3em;
        margin-right: auto;
        transition: all 0.5s;
        filter: invert(61%) sepia(71%) saturate(303%) hue-rotate(137deg) brightness(87%) contrast(85%);
    }

    .logo:hover {
        filter: invert(61%) sepia(71%) saturate(303%) hue-rotate(137deg) brightness(87%) contrast(85%);
    }

    .theme-toggler {
        position: relative;
        top: -20px;
    }
}
