<section class="auth {{ darkTheme ? 'dark-theme' : 'light-theme' }}">
    <div *ngIf="!authChoice" class="auth-choices">
        <p class="auth-tooltip">
            To view projects please
            <button class="auth-action" type="button" (click)="chooseAuthOption('login')">Login</button>

            Or if you don't have account yet
            <button class="auth-action" type="button" (click)="chooseAuthOption('register')">Register</button>
        </p>

        <p class="auth-tooltip">
            Alternatively you can also use a pre-created test account
            <button class="auth-action" type="button" mat-button (click)="chooseAuthOption('register')">
                Login as test user
            </button>
        </p>
    </div>

    <form class="auth-form" [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="authChoice">
        <h2 class="auth-header">{{ authChoice | uppercase }}</h2>

        <portfolio-input
            [formControl]="$any(authForm).controls['username']"
            [type]="'text'"
            [label]="'Username'"
        ></portfolio-input>

        <portfolio-input
            [formControl]="$any(authForm).controls['password']"
            [type]="'password'"
            [label]="'Password'"
        ></portfolio-input>

        <portfolio-input
            *ngIf="authChoice === 'register'"
            [formControl]="$any(authForm).controls['confirmPassword']"
            [type]="'password'"
            [label]="'Confirm Password'"
        ></portfolio-input>

        <button button color="primary" type="submit">{{ authChoice | uppercase }}</button>

        <p class="auth-tooltip">
            {{ authChoice === 'login' ? "Don't have account yet?" : 'Already registered?' }}

            <span (click)="chooseAuthOption(authChoice === 'login' ? 'register' : 'login')">
                {{ authChoice === 'login' ? 'Register' : 'Login' }}
            </span>
        </p>
    </form>
</section>
<button (click)="ping()">click</button>
