@import '../../../../src/app/styles/variables.scss';
@import '../../../../src/app/styles/mixins.scss';

:host {
    @include section-transition(translateX(-100%), translateX(0));
    .auth {
        height: 100vh;
    }

    .dark-theme .auth-form {
        background-color: $c3;
        color: $c1;
    }

    .light-theme .auth-form {
        background-color: $c2;
        color: $c3;
    }

    .auth-choices {
        border-radius: 1em;
        padding: 2em;
        width: 30em;
        @include flex-positioning(column, center, center);
    }

    .auth-form {
        border-radius: 1em;
        width: 30em;
        padding: 1em;
        @include flex-positioning(column, center, center);
        border: 3px solid $c5;
    }

    .auth-action {
        cursor: pointer;
        border: none;
        background: none;
    }

    .auth-header {
        text-align: center;
        padding-bottom: 3em;
    }

    .auth-tooltip {
        padding-top: 1em;
    }

    .btn-submit {
        width: 8em;
    }

    .input-full-width {
        width: 100%;
    }

    .auth-input {
        height: 2.5em;
    }
}
