@import '../../src/app/styles/variables.scss';

.content {
    position: relative;
    animation: gradient 15s ease infinite;
}

.dark-mode {
    color: $c3;
    background: linear-gradient(
        -45deg,
        darken($c5, 10%),
        darken($c5, 20%),
        lighten($c2, 10%),
        lighten($c2, 10%)
    );
    background-size: 400% 400%;
}

.light-mode {
    color: $c2;
    background: linear-gradient(
        -45deg,
        darken($c3, 10%),
        darken($c3, 20%),
        lighten($c4, 10%),
        lighten($c4, 10%)
    );
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}