@import '../../src/app/styles/variables.scss';

.content {
    position: relative;
    // animation: gradient 15s ease infinite;
    height: 100%;
    overflow: hidden;
    transition: all 1s;
}

.toggler {
    z-index: 100;
    position: absolute;
    right: 10%;
}

.dark-mode {
    color: $c3;
    background-color: lighten($c2, 10%);
    // background: linear-gradient(
    //     -45deg,
    //     lighten($c2, 10%),
    //     lighten($c2, 5%),
    //     lighten($c2, 15%),
    //     $c2
    // );
    // background-size: 400% 400%;
}

.light-mode {
    color: $c2;
    background-color: lighten($c3, 10%);

    // background: linear-gradient(
    //     -45deg,
    //     lighten($c3, 35%),
    //     lighten($c3, 10%),
    //     lighten($c3, 30%),
    //     lighten($c3, 15%),
    // );
    // background-size: 400% 400%;
}

hr {
    position: absolute;
    bottom: 3.51em;
    left: 2.98em;
    margin: 0 auto;
    width: 95%;
    box-sizing: border-box;
    border: none;
    border-top: 2px solid $c5;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
