@import '../../src/app/styles/variables.scss';

.content {
    position: relative;
    height: 100vh;
    transition: all 1s;
}

.toggler {
    z-index: 100;
    position: absolute;
    right: 10%;
}

.dark-mode {
    color: $c3;
    background-color: $c2;
}

.light-mode {
    color: darken($c2, 10%);
    background-color: darken($c4, 20%);
}
