@import '../../../../src/app/styles/variables.scss';
@import '../../../../src/app/styles/mixins.scss';

:host {
    .about-wrapper {
        margin: 0 auto;
        padding-top: 10em;
    }

    //section
    @include section-transition(translateX(-100%), translateX(0));
    section {
        margin: 4em 0;
    }

    .surname {
        color: $c5;
    }

    .programmer-img {
        width: 40em;
    }

    .learning {
        background-color: $c5;
        color: $c1;
    }

    .section-heading {
        margin-bottom: 0.4em;
        text-align: left;
    }

    .section-heading:last-of-type {
        text-align: center;
    }

    .description-paragraph {
        font-size: 0.9em;
        line-height: 2;
        font-weight: 400;
        width: 50em;
    }

    // Logos
    .logos {
        display: flex;

        img {
            width: 4em;
        }

        li {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 2em;
        }
    }

    .logo:nth-child(2) {
        transition-delay: 100ms;
    }

    .logo:nth-child(3) {
        transition-delay: 200ms;
    }

    .logo:nth-child(4) {
        transition-delay: 300ms;
    }

    .logo:nth-child(5) {
        transition-delay: 400ms;
    }

    .logo:nth-child(6) {
        transition-delay: 500ms;
    }

    // Learning
    .learning-lists {
        h3 {
            margin: 1em 0;
        }
    }
}
