<div class="about-wrapper">
    <section class="welcome">
        <div class="container">
            <h1 class="main-heading">Hello there.</h1>

            <p class="description-paragraph">
                My name is <span class="firstname">Jakub</span> Krasňan. Frontend Developer with
                interest in building scalable and well-organised applications.
            </p>
            <p class="description-paragraph">Also a fan of anything JavaScript related.</p>
            <img
                class="programmer-img"
                src="{{
                    darkTheme ? 'assets/svg/programmer.svg' : 'assets/svg/programmer-day.svg'
                }}"
                alt="An image of programmer"
            />
        </div>
    </section>

    <section class="learning">
        <div class="hidden">
            <h1 class="section-heading">My Learning</h1>

            <p class="description-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius finibus sagittis.
                Nam eget erat mollis, tempor ligula ut, vehicula orci. Nulla facilisi.
            </p>

            <div class="learning-lists">
                <h3>Reading</h3>
                <ul class="books">
                    <li *ngFor="let book of books">
                        <portfolio-link
                            [link]="{ title: book.title, class: '', href: book.url }"
                        ></portfolio-link>
                        <span>{{ book.description  }}</span>
                    </li>
                </ul>
                <h3>Udemy</h3>
                <ul class="books">
                    <li *ngFor="let book of books">
                        <a href="{{ book.url }}">{{ book.title }}</a> -
                        {{ book.author }}
                        <span>{{ book.description }}</span>
                    </li>
                </ul>
                <h3>Other</h3>
                <ul class="books">
                    <li *ngFor="let book of books">
                        

                        
                        <span>{{ book.description }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="hidden">
        <h1 class="section-heading">Technologies I like to use</h1>

        <ul class="logos">
            <li *ngFor="let logo of logos" class="logo hidden">
                <img src="assets/svg/{{ logo.title }}.svg" alt="{{ logo.title }} logo" />
                <span class="logo-title">{{ logo.title }}</span>
            </li>
        </ul>
    </section>
</div>
