<section class="hidden">
    <h1>About me</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius
        finibus sagittis. Nam eget erat mollis, tempor ligula ut, vehicula orci.
        Nulla facilisi. Mauris pharetra semper vestibulum. Integer consectetur
        odio posuere suscipit pellentesque. Cras a enim eu nulla scelerisque
        accumsan vel et nulla. Pellentesque urna diam, fringilla fringilla
        varius sit amet, facilisis sed justo. Duis mauris tellus, elementum nec
        tincidunt eu, vestibulum non elit. Mauris vel sagittis dui, eu malesuada
        tellus. Donec molestie odio tincidunt varius vulputate. Nulla sodales
        posuere odio, id auctor nulla dignissim et. Donec venenatis lectus nec
        diam sodales, vehicula lacinia dui accumsan. Aliquam varius cursus odio
        a suscipit. Suspendisse accumsan dui vel ligula pulvinar dictum.
        Praesent convallis mi sit amet tempor facilisis. Praesent semper nec
        odio id egestas.
    </p>
</section>

<section class="hidden">
    <h1>About me</h1>

    <ul class="logos">
        <li class="logo hidden">
            <img src="assets/svg/js.svg" />
        </li>
        <li class="logo hidden">
            <img src="assets/svg/angular.svg" />
        </li>
        <li class="logo hidden">
            <img src="assets/svg/nodejs.svg" />
        </li>
        <li class="logo hidden">
            <img src="assets/svg/graphql.svg" />
        </li>
        <li class="logo hidden">
            <img src="assets/svg/mongodb.svg" />
        </li>
    </ul>
</section>

<section class="hidden">
    <h1>About me</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius
        finibus sagittis. Nam eget erat mollis, tempor ligula ut, vehicula orci.
        Nulla facilisi. Mauris pharetra semper vestibulum. Integer consectetur
        odio posuere suscipit pellentesque. Cras a enim eu nulla scelerisque
        accumsan vel et nulla. Pellentesque urna diam, fringilla fringilla
        varius sit amet, facilisis sed justo. Duis mauris tellus, elementum nec
        tincidunt eu, vestibulum non elit. Mauris vel sagittis dui, eu malesuada
        tellus. Donec molestie odio tincidunt varius vulputate. Nulla sodales
        posuere odio, id auctor nulla dignissim et. Donec venenatis lectus nec
        diam sodales, vehicula lacinia dui accumsan. Aliquam varius cursus odio
        a suscipit. Suspendisse accumsan dui vel ligula pulvinar dictum.
        Praesent convallis mi sit amet tempor facilisis. Praesent semper nec
        odio id egestas.
    </p>
</section>
