<div class="about-wrapper">
    <section class="hidden">
        <h1 class="section-heading">Jakub <span class="surname">Krasňan</span></h1>

        <p class="description-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius finibus sagittis. Nam
            eget erat mollis, tempor ligula ut, vehicula orci. Nulla facilisi. Mauris pharetra
            semper vestibulum. Integer consectetur odio posuere suscipit pellentesque. Cras a enim
            eu nulla scelerisque accumsan vel et nulla. Pellentesque urna diam, fringilla fringilla
            varius sit amet, facilisis sed justo. Duis mauris tellus, elementum nec tincidunt eu,
            vestibulum non elit.
        </p>
        <img
            fill="red"
            class="programmer-img"
            src="assets/svg/programmer.svg"
            alt="An image of programmer"
        />
    </section>

    <section class="learning">
        <div class="hidden">
            <h1 class="section-heading">My Learning</h1>

            <p class="description-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius finibus sagittis.
                Nam eget erat mollis, tempor ligula ut, vehicula orci. Nulla facilisi.
            </p>

            <div class="learning-lists">
                <h3>Reading</h3>
                <ul class="books">
                    <li *ngFor="let book of books">
                        <a href="{{ book.url }}">{{ book.title }}</a> -
                        {{ book.author }}
                        <span>{{ book.description }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="hidden">
        <h1 class="section-heading">Technologies I like to play with</h1>

        <ul class="logos">
            <li *ngFor="let logo of logos" class="logo hidden">
                <img src="assets/svg/{{ logo.title }}.svg" alt="{{ logo.title }} logo" />
                <span class="logo-title">{{ logo.title }}</span>
            </li>
        </ul>
    </section>
</div>
