@import '../../../../src/app/styles/variables.scss';
@import '../../../../src/app/styles/mixins.scss';

:host {
    .about-wrapper {
        margin: 0 auto;
    }

    //section
    @include section-transition(translateX(-100%), translateX(0));
    .welcome {
        margin: 7em 0 0 0;
        height: 100%;
    }

    .firstname {
        color: $c5;
    }

    .programmer-img {
        width: 40em;
        margin-top: 1em;
    }

    .learning {
        background-color: $c2;
        color: $c3;
        padding: 5em 0;
        margin: 7em 0 0 0;
    }

    .main-heading {
        text-align: center;
        margin-bottom: 0.2em;
        width: 100%;
        font-size: 4em;
    }

    .description-paragraph {
        font-size: 1em;
        line-height: 2;
        font-weight: 600;
        text-align: center;
    }

    // Logos
    .logos {
        display: flex;

        img {
            width: 4em;
        }

        li {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 2em;
        }
    }

    @for $i from 2 through 7 {
        .logo:nth-child(1n + #{$i}) {
            transition-delay: $i * 100ms;
        }
    }

    // Learning
    .learning-lists {
    }
}
