@import './variables.scss';

@mixin link-colors($color) {
    color: $color;

    &:hover,
    &:focus {
        color: $color;
    }

    &:after {
        background: $color;
    }
}

@mixin section-transition($axisShow, $axisHide) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        font-weight: 700;
        font-size: 1.2em;
        margin: 0 auto;

        .section-heading {
            font-size: 3em;
            font-weight: 700;
        }
    }

    .hidden {
        opacity: 0;
        filter: blur(5px);
        transform: $axisShow;
        transition: all 1s;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: $axisHide;
    }

    @media (prefers-reduced-motion: no-preference) {
        .hidden {
            transition: all 1s;
        }
    }
}
