@import '../../../../src/app/styles/variables.scss';
@import '../../../../src/app/styles/mixins.scss';

:host {
    //section
    @include section-transition(translateX(-100%), translateX(0));
    .welcome {
        height: 100vh;
    }

    .firstname {
        color: darken($c3, 10%);
    }

    .programmer-img {
        margin: 0 auto;
        margin-top: 1em;
        width: 100%;
        height: auto;
        max-width: 35vw;
    }

    .main-heading {
        text-align: center;
        margin: 1.4em 0 0.2em 0;
        width: 100%;
        font-size: 4em;
    }

    .description-paragraph {
        font-size: 1em;
        line-height: 2;
        font-weight: 600;
        text-align: center;
    }
}
