<section class="welcome">
    <div class="container">
        <h1 class="main-heading">Hello there.</h1>

        <p class="description-paragraph">
            My name is <span class="firstname">Jakub</span> Krasňan. Frontend Developer with interest in creating of 
            scalable and well-organised web-applications using clean code.
        </p>
        <p class="description-paragraph">Also a fan of anything JavaScript related.</p>
        <img
            class="programmer-img"
            src="{{ darkTheme ? 'assets/svg/programmer.svg' : 'assets/svg/programmer-day.svg' }}"
            alt="An image of programmer"
        />
    </div>
</section>
